<ion-content *ngIf="selectedDeal">
  <ion-grid class="button-group">
    <ion-row>
      <ion-col>
        <button ion-button icon-only clear style="color: white" (click)="returnToList();">
          <ion-icon name="arrow-back" class="btn-icon"></ion-icon>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-only clear class="com" (click)="openModalFilter()">
          <ion-icon name="chatbubbles" color=secondary class="btn-icon" style="color: white; float:right"></ion-icon>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-only clear class="favorite" (click)="addFavorite()" *ngIf="favorized === false">
          <ion-icon class="btn-icon" name="heart-outline" color=primary></ion-icon>
        </button>
        <button ion-button icon-only clear class="favorite" *ngIf="favorized === true" (click)="addFavorite()">
          <ion-icon class="btn-icon" name="heart" color=primary></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <img src="../../assets/imgs/restau-3.jpg" />
  <div class="cadre">
    <div text-center style="background-color: #002c40; margin: -10px;">
      <ion-icon class="icone" name="restaurant" text-center *ngIf="selectedDeal.type === 'eat'"></ion-icon>
      <ion-icon class="icone" name="wine" text-center *ngIf="selectedDeal.type === 'drink'"></ion-icon>
    </div>
    <h1 text-center class="nom" text-capitalize>
      {{selectedDeal.nom}}
    </h1>
    <p text-center class="tel" style="margin-top:-5px">
      <ion-icon name="call"></ion-icon>&nbsp;{{selectedDeal.telephone}}</p>
    <p text-center>
      <span class="type" text-capitalize>
        {{selectedDeal.categorie_restaurant}}</span>
      <span style="margin-left:20px" class="type">{{selectedDeal.prix}}</span>
      <span class="type">€</span>
    </p>
  </div>

  <div class="details">
    <p class="geo">
      <ion-icon class="locate" name="locate"></ion-icon>
      <span class="adresse">{{selectedDeal.adresse}},&nbsp;</span>
      <span class="adresse">{{selectedDeal.ville}}</span>&nbsp;
      <span class="adresse">({{selectedDeal.codepostal}})</span>
    </p>
  </div>
  <div #map id="map"></div>

  <hr class="style1" text-center>

  <div>
    <p class="description" text-center>{{selectedDeal.description}}</p>
  </div>

</ion-content>
