<ion-header>
  <ion-navbar color=tertiary>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Poster un deal</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="background-gray">
  <form >

    <ion-label style="margin-left: 15px">TYPE DE DEAL</ion-label>

    <div class="row">
      <div class="column bordered" style="border-right: 1px solid #aaa;">
        <button ion-button clear icon-only (click)="setType('eat')" [ngStyle]="{'color': buttonEat}">
          <ion-icon name="restaurant"></ion-icon>
        </button>
      </div>
      <div class="column bordered">
        <button ion-button clear icon-only (click)="setType('drink')" [ngStyle]="{'color': buttonDrink}">
          <ion-icon name="wine"></ion-icon>
        </button>
      </div>
    </div>

    <ion-label style="margin-left: 15px">INFORMATIONS</ion-label>

    <!-- Nom de l'enseigne -->
    <div [formGroup]="createDealForm">
    <ion-item [ngClass]="{'error-border':!createDealForm.controls.nom.valid && createDealForm.controls.nom.touched}">
      <ion-label>
        <ion-icon name="briefcase"></ion-icon>
      </ion-label>
      <ion-input type="text" formControlName="nom" placeholder="Nom de l'enseigne *" [(ngModel)]="deal.nom" name="nom"></ion-input>
    </ion-item>
    
    <ion-item *ngIf="createDealForm.controls.nom.hasError('required') && createDealForm.controls.nom.touched">
      <p class="texte">Le nom est obligatoire!</p>
    </ion-item>
  </div>

  <!-- Adresse -->
    <div [formGroup]="createDealForm">
    <ion-item [ngClass]="{'error-border':!createDealForm.controls.adresse.valid && createDealForm.controls.adresse.touched}">
      <ion-label>
        <ion-icon name="home"></ion-icon>
      </ion-label>
      <ion-input type="text" formControlName="adresse" placeholder="Adresse *" [(ngModel)]="deal.adresse" name="adresse"></ion-input>
    </ion-item>
    
    <ion-item *ngIf="createDealForm.controls.adresse.hasError('required') && createDealForm.controls.adresse.touched">
        <p class="texte">L'adresse est obligatoire!</p>
      </ion-item>
    </div>

    <!-- Ville -->
    <div class="row">
      <div class="column">
          <div [formGroup]="createDealForm">
        <ion-item [ngClass]="{'error-border':!createDealForm.controls.ville.valid && createDealForm.controls.ville.touched}">
          <ion-label>
            <ion-icon name="locate"></ion-icon>
          </ion-label>
          <ion-input type="text" formControlName="ville" placeholder="Ville *" [(ngModel)]="deal.ville" name="ville"></ion-input>
        </ion-item>

        <ion-item *ngIf="createDealForm.controls.ville.hasError('required') && createDealForm.controls.ville.touched">
            <p class="texte">La ville est<br/> obligatoire!</p>
          </ion-item>
          <ion-item *ngIf="createDealForm.controls.ville.hasError('pattern') && createDealForm.controls.ville.touched">
              <p class="texte">Ville syntax <br/> incorrect</p>
            </ion-item>
          </div>
      </div>

   
    <!-- Code postal -->
      <div class="column">
        <div [formGroup]="createDealForm">
        <ion-item [ngClass]="{'error-border':!createDealForm.controls.codepostal.valid && createDealForm.controls.codepostal.touched}">
          <ion-input type="number" formControlName="codepostal" placeholder="CP *" [(ngModel)]="deal.codepostal" name="codepostal"></ion-input>
        </ion-item>

        <ion-item *ngIf="createDealForm.controls.codepostal.hasError('required') && createDealForm.controls.codepostal.touched">
            <p class="texte">Le codepostal est <br/> obligatoire!</p>
          </ion-item>
          <ion-item *ngIf="createDealForm.controls.codepostal.hasError('pattern') && createDealForm.controls.codepostal.touched">
              <p class="texte">Le codepostal doit <br/> etre composé de <br/> 5 chiffres!</p>
            </ion-item>
      </div>
      </div>
    </div>

    <!-- Telephone -->
    <div [formGroup]="createDealForm">
    <ion-item [ngClass]="{'error-border':!createDealForm.controls.telephone.valid && createDealForm.controls.telephone.touched}">
      <ion-label>
        <ion-icon name="call"></ion-icon>
      </ion-label>
      <ion-input type="tel" formControlName="telephone" placeholder="N° Tél *" [(ngModel)]="deal.telephone" name="telephone"></ion-input>
    </ion-item>
    <ion-item *ngIf="createDealForm.controls.telephone.hasError('required') && createDealForm.controls.telephone.touched">
        <p class="texte">Le numero de telephone est obligatoire</p>
      </ion-item>
      <ion-item *ngIf="createDealForm.controls.telephone.hasError('pattern') && createDealForm.controls.telephone.touched">
          <p class="texte">Le numero de telephone doit contenir 10 chiffres</p> 
        </ion-item>
  </div>

    <ion-label style="margin-left: 15px">DÉTAILS DU DEAL</ion-label>

 <!-- Type de reduction -->
 <div [formGroup]="createDealForm">
    <ion-list style="margin-bottom: 0px;">
      <ion-item [ngClass]="{'error-border':!createDealForm.controls.reduction_type.valid && createDealForm.controls.reduction_type.touched}">
        <ion-label>Type de réduction *</ion-label>
        <ion-select formControlName="reduction_type" [(ngModel)]="deal.reduction_type" name="reduction_type">
          <ion-option value="reduction">Réduction</ion-option>
          <ion-option value="rabais">Rabais</ion-option>
          <ion-option value="autre">Autre</ion-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="createDealForm.controls.reduction_type.hasError('required') && createDealForm.controls.reduction_type.touched">
          <p class="texte">Le type de reduction est obligatoire</p> 
        </ion-item>
    </ion-list>
  </div>
  

   <!-- Prix -->
   <div [formGroup]="createDealForm">
    <ion-item [ngClass]="{'error-border':!createDealForm.controls.prix.valid && createDealForm.controls.prix.touched}">
      <ion-label>
        <ion-icon name="card"></ion-icon>
      </ion-label>
      <ion-input class="price" formControlName="prix" type="number" placeholder="Prix *" [(ngModel)]="deal.prix" name="prix"></ion-input>
    </ion-item>

    <ion-item *ngIf="createDealForm.controls.prix.hasError('required') && createDealForm.controls.prix.touched">
        <p class="texte">Le prix est obligatoire</p> 
      </ion-item>
      <ion-item *ngIf="createDealForm.controls.prix.hasError('pattern') && createDealForm.controls.prix.touched">
          <p class="texte">Le prix ne doit contenir que des chiffres</p> 
        </ion-item>
  </div>

    <ion-item>
      <ion-label>
        <ion-icon name="calculator"></ion-icon>
      </ion-label>
      <ion-input class="reduc" type="number" placeholder="Réduction" [(ngModel)]="deal.montant_reduction" name="montant_reduction"></ion-input>%
    </ion-item>

    <!-- Description -->
    <div [formGroup]="createDealForm">
    <ion-item [ngClass]="{'error-border':!createDealForm.controls.description.valid && createDealForm.controls.description.touched}">
      <ion-textarea placeholder="Description *" formControlName="description" [(ngModel)]="deal.description" name="description"></ion-textarea>
    </ion-item>
    <ion-item *ngIf="createDealForm.controls.description.hasError('required') && createDealForm.controls.description.touched">
        <p class="texte">La description est obligatoire</p> 
      </ion-item>

  </div>

  <!-- Categorie Restaurant -->
  <div [formGroup]="createDealForm">
      <ion-list style="margin-bottom: 0px;" *ngIf="eat === true">
      <ion-item [ngClass]="{'error-border':!createDealForm.controls.categorie_restaurant.valid && createDealForm.controls.categorie_restaurant.touched}">
        <ion-label>Catégorie *</ion-label>
        <ion-select formControlName="categorie_restaurant"[(ngModel)]="deal.categorie_restaurant" name="categorie_restaurant">
          <ion-option value="pizzeria">Pizzeria</ion-option>
          <ion-option value="indien">Indien</ion-option>
          <ion-option value="asiatique">Asiatique</ion-option>
          <ion-option value="fast-food">Fast-food</ion-option>
          <ion-option value="français">Français</ion-option>
          <ion-option value="boulangerie">Boulangerie</ion-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="createDealForm.controls.categorie_restaurant.hasError('required') && createDealForm.controls.categorie_restaurant.touched">
          <p class="texte">La categorie du restaurant est obligatoire</p> 
        </ion-item>
    </ion-list>
  </div>

    <ion-item>
      <ion-label>
        <ion-icon name="calendar"></ion-icon>
      </ion-label>
      <ion-datetime displayFormat="DD MMM YYYY" placeholder="Date de début" [(ngModel)]="deal.datedebut" name="datedebut"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>
        <ion-icon name="calendar"></ion-icon>
      </ion-label>
      <ion-datetime displayFormat="DD MMM YYYY" placeholder="Date de fin" [(ngModel)]="deal.datefin" name="datefin"></ion-datetime>
    </ion-item>
  
  </form>

  <ion-list style="margin-top: 10px;">
    <ion-list-header>
      Jours deal actif
    </ion-list-header>
    <ion-item>
      <ion-label>Lundi</ion-label>
      <ion-checkbox [(ngModel)]="lundi"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Mardi</ion-label>
      <ion-checkbox [(ngModel)]="mardi"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Mercredi</ion-label>
      <ion-checkbox  [(ngModel)]="mercredi"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Jeudi</ion-label>
      <ion-checkbox [(ngModel)]="jeudi"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Vendredi</ion-label>
      <ion-checkbox [(ngModel)]="vendredi"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Samedi</ion-label>
      <ion-checkbox  [(ngModel)]="samedi"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Dimanche</ion-label>
      <ion-checkbox  [(ngModel)]="dimanche"></ion-checkbox>
    </ion-item>
  </ion-list>


  <ion-list style="margin-top: 10px;">
    <ion-list-header>
      Moment de la journée
    </ion-list-header>
    <ion-item>
      <ion-label>Matin</ion-label>
      <ion-checkbox [(ngModel)]="matin" ></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Midi</ion-label>
      <ion-checkbox [(ngModel)]="midi" ></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Soir</ion-label>
      <ion-checkbox [(ngModel)]="soir" ></ion-checkbox>
    </ion-item>
  </ion-list>


  <div text-center margin>
    <button ion-button block color="secondary" [disabled]="!createDealForm.valid" (click)="saveDeal()">
      <ion-icon name="share"></ion-icon>&emsp;Envoyer le deal
    </button>
  </div>

</ion-content>
