page-create-account {
  #restau-2 {
    background: url(../../assets/imgs/restau-2.jpg) 0 0 no-repeat;
  }
  .item.item-input {
    background-color: transparent;
    color: black;
  }
  
  .texte{
    color:#FF0023;
    font-size: 0.7em;
  }
}
